<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Common.WebSockets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WebSocketRelay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Common.WebSockets.Properties.Settings>
      <setting name="SocketNoDelay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SocketReceiveTimeoutMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SocketSendTimeoutMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SocketLingerStateEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SocketLingerStateTimeSeconds" serializeAs="String">
        <value>1</value>
      </setting>
    </Common.WebSockets.Properties.Settings>
    <WebSocketRelay.Properties.Settings>
      <setting name="PublicRealmCount" serializeAs="String">
        <value>65536</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>22002</value>
      </setting>
    </WebSocketRelay.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
